body {
  size: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/6d20b198-e7ab-4e9f-a1aa-666faa0298f9/IN-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a67d8c9e-8121-4a74-98e4-8005eb2df227_large.jpg);
  margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* sign in section  */
input.inputArea {
  font-size: 17px;
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 15px;
  background-color: rgb(15 15 15);
  border: solid rgb(95 95 95) 1px;
  border-radius: 3px;

}

/* sign in button  */
#signIn-button {
  width: 100%;
  padding: 6px 4px;
  display: flex;
  justify-content: center;
  border-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  background-color: rgb(229 9 20);
}

#signIn-button:hover {
  background-color: rgb(202, 0, 0);
}

.page .header {
  height: 118vh;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: -1;
}

img {
  height: 40px;
  margin: 30px 20px 20px 150px;
}

.p-10 {
  padding: 3.5rem;
}

.rounded-lg {
  border-radius: 0.2rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / 68%);
}

.max-w-md {
  max-width: 25rem;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}
